body {
    background-color: #f0f0f0; /* لون الخلفية */
    font-family: 'Arial', sans-serif;
    direction: rtl; /* جعل النصوص من اليمين إلى اليسار */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px; 
    margin: 0 auto; 
    padding: 20px;
    background: white; /* لون خلفية المحتوى */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* ظل لطيف للمحتوى */
    border-radius: 10px; /* زوايا مدورة */
}

h1, h2 {
    text-align: center; 
    color: #333; 
}

input[type="text"], input[type="password"] {
    width: 100%; 
    padding: 10px; 
    margin: 10px 0; 
    border: 1px solid #ccc; 
    border-radius: 5px; /* زوايا مدورة للحقل */
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); /* ظل خفيف للحقل */
}

button {
    background-color: #007bff; /* لون زر */
    color: white; 
    padding: 10px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    width: 100%; 
    font-size: 16px; 
}

button:hover {
    background-color: #0056b3; /* لون الزر عند المرور عليه */
}

.progress-bar {
    background-color: #e0e0e0; 
    border-radius: 5px; 
    height: 20px; 
    overflow: hidden; 
    margin: 10px 0;
}

.progress-bar-fill {
    background-color: #28a745; /* لون الشريط الممتلئ */
    height: 100%; 
}

#notification {
    display: none; 
    padding: 10px; 
    color: white; 
    margin: 10px 0; 
    border-radius: 5px; 
}

#bottom-text {
    text-align: center; 
    margin-top: 20px; 
    font-size: 12px; 
    color: #777; 
}